[user]
    email = sgoder@fb.com
    name = Sergey Goder

[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore

[push]
    default = simple

[alias]
    ad = add
    ada = add -A
    cl = clone
    cm = commit
    cmm = commit -m
    cma = commit --amend
    amend = commit --amend --no-edit
    ame = commit --amend --no-edit
    co = checkout
    br = branch
    st = status
    di = diff
    dic = diff --cached
    f = fetch
    fo = fetch origin
    lg = log
    lgp = log -p
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate
    ls5 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate -n 5
    ls10 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate -n 10
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate --numstat
    ll1 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate --numstat -n 1
    ll5 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate --numstat -n 5
    ll10 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate --numstat -n 10
    pl = pull
    plo = pull origin
    plr = pull --rebase
    ps = push
    pso = push origin
    psf = push --force
    rb = rebase
    sm = submodule
    root = rev-parse --show-toplevel
