[user]
    email = sgoder@fb.com
    name = cosinequanon

[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore

[alias]
    ad = add
    ada = add -A
    cl = clone
    cm = commit
    cmm = commit -m
    cma = commit --amend
    cmaa = commit --amend -C HEAD
    co = checkout
    br = branch
    st = status
    di = diff
    dic = diff --cached
    f = fetch
    fo = fetch origin
    lg = log
    lgp = log -p
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate --numstat
    pl = pull
    plo = pull origin
    plr = pull --rebase
    ps = push
    pso = push origin
    psf = push --force
    rb = rebase
    root = rev-parse --show-toplevel
